= simple_form_for(@train) do |f|
  = f.error_notification

  .form-inputs
    %p
      = f.label "培训类别"
      = f.collection_select :category_id, TrainCategory.all, :id, :name
    = f.label "开始时间"
    = f.text_field :start_date, class: "datepicker", value: "#{Date.today}", readonly: true
    = f.label "结束时间"
    = f.text_field :end_date, class: "datepicker", value: "#{Date.today}", readonly: true
    = f.input :duration
    = f.input :organizer

  .form-actions
    = f.button :submit
