= simple_form_for(@train) do |f|
  = f.error_notification

  .form-inputs
    -# = f.input :category, collection: Train::CATEGORIES
    = f.input :category_id do
      = f.select :category_id, nested_set_options(Category, @category){|i| "#{'-' * i.level} #{i.name}"} 
    = f.association :trainee, include_blank: false
    = f.input :name
    = f.input :start_date, as: :string, hint: '格式: 2012-08-21'
    = f.input :end_date, as: :string
    = f.input :period, wrapper: :append do
      = f.input_field :period
      = content_tag :span, "天", class: "add-on"
    = f.input :organizer
    = f.input :comment, input_html: {class: "span4", rows: 6}

  .form-actions
    = f.button :submit, class: 'btn-primary'
