%table#trains.table.table-striped.table-bordered.datatable
  %thead
    %tr
      %th 项目名称
      %th 培训类型
      %th 举办单位
      %th 开始日期
      %th 结束日期
      %th 学时
      %th 学分
      %th 参训人员
      %th 状态
      - if can? :update, Train
        %th
        %th
        %th

  %tbody      
    - @trains.each do |train|
      %tr
        %td= train.name
        %td= train.category.root.name
        %td= train.organizer
        %td= train.start_date
        %td= train.end_date
        %td= train.period
        %td= train.score
        %td= train.trainee.name
        %td= train.status
        - if can? :update, Train
          %td= link_to '查看', train
          %td= link_to_unless train.approved?, '编辑', edit_train_path(train)
          %td= link_to_unless train.approved?, '删除', train, :confirm => '确定删除吗?', :method => :delete

%br

- if can? :update, Train
  .well
    = link_to '学分登记', new_train_path, class: "btn btn-large"

