%table#trains_for_registrar.table.table-striped.table-bordered
  %thead
    %tr
      %th 项目名称
      %th 培训类型
      %th 举办单位
      %th 开始日期
      %th 结束日期
      %th 学时
      %th 学分
      %th 参训人员
      %th 状态
      %th 操作

  %tbody      
    - @trains.each do |train|
      %tr
        %td= train.name
        %td= train.category.root.name
        %td= train.organizer
        %td= train.start_date
        %td= train.end_date
        %td= train.period
        %td= train.score
        %td= train.trainee.name
        %td.center
          - status_tag(train)
        %td        
          = link_to train, class: "btn btn-success" do
            %i.icon-zoom-in.icon-white
            查看            
          - unless train.approved?
            = link_to edit_train_path(train), class: "btn btn-info" do
              %i.icon-edit.icon-white
              编辑              
            = link_to train, confirm: '确定删除吗?', method: :delete, class: "btn btn-danger" do
              %i.icon-trash.icon-white
              删除

%br

- if can? :update, Train
  .well
    = link_to '学分登记', new_train_path, class: "btn btn-large"

