%table#trains.table.table-striped.table-bordered.datatable
  %thead
    %tr
      %th 项目名称
      %th 培训类型
      %th 举办单位
      %th 开始日期
      %th 结束日期
      %th 学时
      %th 学分
      %th 录入人

  %tbody      
    - @trains.each do |train|
      %tr
        %td= train.name
        %td= train.category.root.name
        %td= train.organizer
        %td= train.start_date
        %td= train.end_date
        %td= train.period
        %td= train.score
        %td= train.registrar.name
