%h1 Listing trains

%table
  %tr
    %th Name
    %th Trainee
    %th Start date
    %th End date
    %th Type
    %th Score
    %th Certificate
    %th Registrar
    %th Period
    %th Organizer
    %th
    %th
    %th

  - @trains.each do |train|
    %tr
      %td= train.name
      %td= train.trainee.name
      %td= train.start_date
      %td= train.end_date
      %td= train.category.name
      %td= train.score
      %td= train.certificate
      %td= train.registrar_id
      %td= train.period
      %td= train.organizer
      %td= link_to 'Show', train
      %td= link_to 'Edit', edit_train_path(train)
      %td= link_to 'Destroy', train, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Train', new_train_path
