.well
  .pull-right
    导出:
    = link_to "CSV", trains_path(format: "csv"), class: "btn"
    \|
    = link_to "Excel", trains_path(format: "xls"), class: "btn"
%table.table.table-striped.table-bordered.datatable
  %thead
    %tr
      %th 项目名称
      %th 培训类型
      %th 举办单位
      %th 受训人员
      %th 开始日期
      %th 结束日期
      %th 学时
      %th 学分
      %th
      %th
      %th

  %tbody      
    - @trains.each do |train|
      %tr
        %td= train.name
        %td= train.category.root.name
        %td= train.organizer
        %td= train.trainee.name
        %td= train.start_date
        %td= train.end_date
        %td= train.period
        %td= train.score
        %td= link_to '查看', train
        %td= link_to '编辑', edit_train_path(train)
        %td= link_to '删除', train, :confirm => '确定删除吗?', :method => :delete

%br

.well
  = link_to '培训登记', new_train_path, class: "btn btn-large"

