%p
  %b 培训类别:
  = @train.category.root.name
%p
  %b 项目名称:
  = @train.name
%p
  %b 主办部门:
  = @train.organizer
%p
  %b 培训人员：
  = @train.trainee.name
%p
  %b 开始日期:
  = @train.start_date
%p
  %b 结束日期:
  = @train.end_date
%p
  %b 学    分:
  = @train.score
%p
  %b 学    时:
  = @train.period
%p
  %b 录 入 人:
  = @train.registrar.name
%p
  %b 备    注:
  = @train.comment

.well
  .btn
    = link_to '编辑', edit_train_path(@train)
  .btn  
    = link_to '返回', trains_path(v: :registrar)
