%p#notice= notice

%p
  %b Type:
  = @train.category.name
%p
  %b Name:
  = @train.name
%p
  %b Trainee:
  = @train.trainee.name
%p
  %b Start date:
  = @train.start_date
%p
  %b End date:
  = @train.end_date
%p
  %b Score:
  = @train.score
%p
  %b Certificate:
  = @train.certificate
%p
  %b Comment:
  = @train.comment
%p
  %b Registrar:
  = @train.registrar.name
%p
  %b Period:
  = @train.period
%p
  %b Organizer:
  = @train.organizer

= link_to 'Edit', edit_train_path(@train)
\|
= link_to 'Back', trains_path
