%p#notice= notice

%p
  %b Start date:
  = @train.start_date
%p
  %b End date:
  = @train.end_date
%p
  %b Duration:
  = @train.duration
%p
  %b Organizer:
  = @train.organizer
%p
  %b Category:
  = @train.category_id
%p
  %b User:
  = @train.trainee.name

= link_to 'Edit', edit_train_path(@train)
\|
= link_to 'Back', trains_path
