%h1 Listing report_definitions

%table
  %tr
    %th Name
    %th Template
    %th
    %th
    %th

  - @report_definitions.each do |report_definition|
    %tr
      %td= report_definition.name
      %td= report_definition.template
      %td= link_to 'Show', report_definition
      %td= link_to 'Edit', edit_report_definition_path(report_definition)
      %td= link_to 'Destroy', report_definition, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Report definition', new_report_definition_path
