= simple_form_for(@user) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :name, required: true
    = f.association :department, required: true
    = f.input :email, required: true
    = f.association :position, required: true
    = f.association :roles, as: :check_boxes, item_wrapper_class: 'inline'
    - if @user.new_record?
      = f.input :password, as: :password, required: true
      = f.input :password_confirmation, as: :password, required: true
    - else
      = f.input :password, as: :password, hint: '不修改密码时此项留空'
      = f.input :password_confirmation, as: :password, hint: "不修改密码时此项留空"
    
  .form-actions
    = f.button :submit, class: 'btn-primary'
