- if can? :manage, User
  = render 'form'
- else
  = simple_form_for(@user, url: update_password_user_path(@user)) do |f|
    = f.error_notification

    .form-inputs
      = f.input :password, as: :password, required: true
      = f.input :password_confirmation, as: :password, required: true

    .form-actions
      = f.button :submit, class: 'btn-primary'
