%table#tusers.table.table-striped.table-bordered
  %thead
    %tr
      %th 姓名
      %th 部门
      %th 职务
      %th 账号
      %th 操作

  %tbody    
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.department.name
        %td= user.position.name
        %td= user.email
        %td
          = link_to '查看', user_path(user)
          = link_to '编辑', edit_user_url(user)
          = link_to '删除', user_url(user), :confirm => '删除用户将同时删除该用户的所有学分信息，确定删除吗?', :method => :delete
        
.well      
  = link_to "用户注册", new_user_path, class: "btn"      
