= simple_form_for(@department) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true
    = f.input :order, collection: 1..20, required: true

  .form-actions
    = f.button :submit, class: "btn-primary"
