%p#notice= notice

%p
  %b Name:
  = @train_category.name
%p
  %b Weight:
  = @train_category.weight

= link_to 'Edit', edit_train_category_path(@train_category)
\|
= link_to 'Back', train_categories_path
