%p#notice= notice

%p
  %b Title:
  = @in_job_train_catalog.title
%p
  %b Level:
  = @in_job_train_catalog.level
%p
  %b Score:
  = @in_job_train_catalog.score

= link_to 'Edit', edit_in_job_train_catalog_path(@in_job_train_catalog)
\|
= link_to 'Back', in_job_train_catalogs_path
