= simple_form_for(@report) do |f|
  = f.error_notification

  .form-inputs
    = f.input :type, collection: %w[学分排名 学分明细 总体情况], required: true
    = f.input :start_date, as: :string, required: true
    = f.input :end_date, as: :string, required: true

  .form-actions
    = f.button :submit, class: 'btn-primary'
