%table#treports.table.table-striped.table-bordered
  %thead
    %tr
      %th 开始日期
      %th 结束日期
      %th 报表类别
      %th

  %tbody      
    - @reports.each do |report|
      %tr
        %td= report.start_date
        %td= report.end_date
        %td= report.category
        %td
          = link_to '下载', report_path(report, request.parameters.merge({format: :xls}))
          = link_to '删除', report, :confirm => '确定删除报表吗?', :method => :delete

%br

.well
  = link_to '新增报表', new_report_path, class: "btn btn-large"
