%table#treports.table.table-striped.table-bordered
  %thead
    %tr
      %th 开始日期
      %th 结束日期
      %th 报表类别
      %th
      %th

  %tbody      
    - @reports.each do |report|
      %tr
        %td= report.start_date
        %td= report.end_date
        %td= report.title
        %td= link_to '下载', report
        %td= link_to '删除', report, :confirm => 'Are you sure?', :method => :delete

%br

.well
  = link_to '新增报表', new_report_path, class: "btn btn-large"
