%ul.nav.nav-tabs.nav-stacked
  %li.active
    = link_to "培训登记"
  %li
    = link_to "修改密码"
  %li.nav-header 系统管理    
  %li
    = link_to "统计分析"
  %li
    = link_to "用户管理"
  %li
    = link_to "参数维护"
    
