%ul.nav.nav-tabs.nav-stacked
  %li.nav-header 学分管理
  %li.active
    = link_to "培训登记", new_train_path
  %li
    = link_to "历史记录", trains_path  
  %li
    = link_to "修改密码"
  - if can? :manage, :all  
    %li.nav-header 系统管理    
    %li
      = link_to "用户管理", users_path
    %li
      = link_to "部门维护", departments_path
    %li
      = link_to "培训类别维护", train_categories_path
    %li
      = link_to "统计分析"
    
